/* Applies to Entire Page */
body,
html {
    background-color: white;
    font-family: 'Days One', sans-serif;
    font-family: 'Russo One', sans-serif;
    background-image: url("../images/BGI2.jpg");
}

/* Navbar Styling */
a.navbar-brand {
    font-size: 24px;
}

/* Card styling */
div.col.mb-4 {
    text-align: center;
    padding-left: 100px;
}